*{
    margin: 0;
    padding: 0;
}

.cuerpo{
    background-color: lightgray;
    font-family: 'Neue Aachen Pro', sans-serif;
}

.cabecera{
    display: flex;
    height: 150px;
    background-color: black;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

li a{
    text-decoration: none;
    text-align: right;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: white;
    margin: 20px;
}

.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 30px;
}

.logo img{
    width: 100px;
    height: auto;
}

.logo img:hover{
    transform: scale(1.20);
    transition: .3s;
}

.contenido{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.contenido img{
    width: 600px;
    border: 2px solid black;
}


.alado{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.alado img{
    width: 280px;
    margin: 10px;
}

.contenido2{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.contenido2 img{
    width: 900px;
    border: 2px solid black;
}


h2{
    display: flex;
    flex-direction: column;
    font-size: 34px;
    text-align: center;
    margin: 10px;
    padding: 10px;
}

.parrafo{
    width: 900px;
    font-size: 20px;
    margin: 10px;
    padding: 10px;
    text-align: justify;

}

#pie{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: auto;
    background-color: black;
    color: white;
    padding: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: auto;
}

#pie a img{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80px;
}

#pie a img:hover{
    transform: scale(1.20);
    transition: .3s;
}
